* {
	margin: 0;
	padding: 0;
}
html{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background: rgba(0,255,255,0.2);
}

h1.heading{
	text-align: center;
	display: inline-block;
	border: 1px solid black;
}


